html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}

#medusaThree {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: all;
}

canvas {
  display: block;
}
.vertical-title {
  position: fixed;
  left: 30px;
  top: -25px;
  height: 540px;
  opacity: 0.9;
  pointer-events: none;
}
.legend {
  position: fixed;
  left: 0px;
  bottom: 5px;
  height: 60px;
  opacity: 0.9;
  pointer-events: none;
}

/* Info Button */
#infoBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  z-index: 20;
}

/* Info Panel */
#infoPanel {
  position: fixed;
  top: 0;
  right: -400px; /* hidden initially */
  width: 350px;
  height: 100vh;
  background: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 60px 30px;
  box-shadow: -5px 0 20px rgba(0,0,0,0.1);
  transition: right 0.4s ease;
  z-index: 15;
}

/* When Active */
#infoPanel.active {
  right: 0;
}

#infoPanel h2 {
  margin-top: 0;
}

#infoPanel p {
  line-height: 1.6;
  color: #333;
}